<app-header-administrador></app-header-administrador>

<div class="w-full bg-gray-300 grid grid-cols-1 px-5 min-h-screen">
  <div class="flex-grow space-y-4">
    <!-- Retângulo com texto "Avaliações pendentes de aprovação" sem negrito e alinhado à esquerda -->
    <div class="h-1/6 justify-start border-gray-400 mt-16 flex items-center">
      <span class="text-3xl">Produtos sem imagem</span>
    </div>
  </div>

  <!-- Importando o ListarProdutosSemImagem -->
  <app-listar-produtos-sem-imagem
    [isCarrossel]="false"
  ></app-listar-produtos-sem-imagem>
</div>
