<div class="container mx-auto p-4">
  <h1 class="text-xl font-bold mb-4">Ranking de Usuários</h1>

  <!-- Tratamento para o Top 3 Usuários -->
  <ng-container *ngIf="top3Users.length > 0; else noTop3Users">
    <app-top3-users [users]="top3Users"></app-top3-users>
  </ng-container>
  <ng-template #noTop3Users>
    <p class="text-red-500 text-2xl mt-8">
      Nenhum usuário no Top 3 encontrado.
    </p>
  </ng-template>

  <!-- Tratamento para Lista de Usuários -->
  <ng-container *ngIf="otherUsers.length > 0; else noOtherUsers">
    <app-lista-ranking-consumidor
      [users]="otherUsers"
    ></app-lista-ranking-consumidor>
  </ng-container>
  <ng-template #noOtherUsers>
    <p class="text-red-500 text-2xl mt-8">
      Nenhum outro usuário encontrado no ranking.
    </p>
  </ng-template>
</div>
