<header class="bg-green-600 text-white py-4">
  <div class="container mx-auto flex justify-between items-center px-4">
    <!-- Logo -->
    <div class="text-2xl font-bold">Nota Social</div>

    <!-- Navegação -->
    <nav>
      <ul class="flex space-x-6">
        <li><a routerLink="/inicio" class="hover:underline">Início</a></li>
        <li><a routerLink="/sobre" class="hover:underline">Sobre</a></li>
        <li>
          <a routerLink="/funcionalidades" class="hover:underline"
            >Funcionalidades</a
          >
        </li>
        <li><a routerLink="/contato" class="hover:underline">Contato</a></li>
      </ul>
    </nav>

    <!-- Botão de Login -->
    <div>
      <a
        routerLink="/guest/Login"
        class="bg-white text-green-600 px-4 py-2 rounded-lg font-semibold hover:bg-green-100"
      >
        Login
      </a>
    </div>
  </div>
</header>
