<div class="p-6">
  <h1 class="text-2xl font-bold mb-4">Avaliações</h1>

  <div *ngFor="let avaliacao of avaliacoes" class="mb-6 flex gap-4 items-start">
    <!-- Imagem do produto -->
    <img
      [src]="getProduto(avaliacao.produto_id).imagem"
      [alt]="getProduto(avaliacao.produto_id).nome"
      class="w-24 h-24 object-cover border rounded-md"
    />

    <!-- Detalhes da avaliação -->
    <div>
      <h2 class="text-lg font-semibold">
        {{ getProduto(avaliacao.produto_id).nome }}
      </h2>

      <!-- Estrelas -->
      <div class="flex items-center mb-2">
        <i
          *ngFor="let star of [].constructor(avaliacao.estrelas)"
          class="fa fa-star text-yellow-400"
        ></i>
        <i
          *ngFor="
            let emptyStar of [].constructor(5 - avaliacao.estrelas)
          "
          class="fa fa-star text-gray-300"
        ></i>
      </div>

      <!-- Comentário -->
      <p class="text-sm text-gray-700 mb-1">
        <span class="font-semibold">Avaliação:</span> {{ avaliacao.comentario }}
      </p>
      <!-- Data -->
      <p class="text-xs text-gray-500">
        Publicado em {{ avaliacao.created_at | date: 'short' }}
      </p>
    </div>
  </div>
</div>
