<div class="w-1/4 h-full bg-black fixed top-0 left-0">
    <div class="h-10 bg-green-500 flex items-center justify-center">
      <h1 class="text-white font-bold">Nota Social</h1>
    </div>
    <nav>
      <ul class="text-white">
        <li><a class="block p-2 hover:bg-green-700" routerLink="/administrador/home-administrador">Home</a></li>
        <li><a class="block p-2 hover:bg-green-700" routerLink="/estabelecimento/promocoes-estabelecimento">Promoções</a></li>
        <li><a class="block p-2 hover:bg-green-700" routerLink="/estabelecimento/enderecos-estabelecimento">Endereços</a></li>
        <li><a class="block p-2 hover:bg-green-700" routerLink="/endereco/novo-endereco">Novo Endereço</a></li>
      </ul>
    </nav>
  </div>
  