<div [class.hidden]="!isMenuOpen" class="w-1/4 h-full bg-black fixed top-0 left-0">
  <div
    class="h-10 bg-green-500 flex items-center justify-center cursor-pointer"
    (click)="toggleMenu()">
    <h1 class="text-white font-bold">Nota Social</h1>
  </div>
    <nav>
      <ul class="text-white">
        <li><a class="block p-2 hover:bg-green-700" routerLink="/administrador/home-administrador">Dashboard</a></li>
        <li><a class="block p-2 hover:bg-green-700" routerLink="/administrador/usuarios/home-usuarios-adm">Usuários</a></li>
        <li><a class="block p-2 hover:bg-green-700" routerLink="/administrador/estabelecimentos/home-estabelecimentos-adm">Estabelecimentos</a></li>
        <li><a class="block p-2 hover:bg-green-700" routerLink="/administrador/produtos/home-produtos-adm">Produtos</a></li>
        <li><a class="block p-2 hover:bg-green-700" routerLink="/administrador/avaliacoes/home-avaliacoes-adm">Avaliações</a></li>
      </ul>
    </nav>
  </div>
  