<div
  [ngClass]="{ 'w-64': isMenuOpen, 'w-0': !isMenuOpen }"
  class="h-full bg-black fixed top-0 left-0 transition-all duration-300 overflow-hidden"
>
  <!-- Cabeçalho do Menu -->
  <div
    class="h-12 bg-green-500 flex items-center justify-between px-4 cursor-pointer"
    (click)="onToggleMenu()"
  >
    <h1 class="text-white font-bold">Nota Social</h1>
    <span class="text-white text-2xl font-bold material-icons">
      {{ isMenuOpen ? "X" : "" }}
    </span>
  </div>

  <!-- Navegação -->
  <nav>
    <ul class="text-white">
      <li>
        <a
          class="block p-3 hover:bg-green-700 transition-colors duration-200"
          routerLink="/administrador/home-administrador"
        >
          Dashboard
        </a>
      </li>
      <li>
        <a
          class="block p-3 hover:bg-green-700 transition-colors duration-200"
          routerLink="/administrador/usuarios/home-usuarios-adm"
        >
          Usuários
        </a>
      </li>
      <li>
        <a
          class="block p-3 hover:bg-green-700 transition-colors duration-200"
          routerLink="/administrador/estabelecimentos/home-estabelecimentos-adm"
        >
          Estabelecimentos
        </a>
      </li>
      <li>
        <a
          class="block p-3 hover:bg-green-700 transition-colors duration-200"
          routerLink="/administrador/produtos/home-produtos-adm"
        >
          Produtos
        </a>
      </li>
      <li>
        <a
          class="block p-3 hover:bg-green-700 transition-colors duration-200"
          routerLink="/administrador/avaliacoes/home-avaliacoes-adm"
        >
          Avaliações
        </a>
      </li>
    </ul>
  </nav>
</div>
