/* Layout principal */
.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.h-screen {
  height: 100vh; /* Faz o layout ocupar a altura total da tela */
}

.flex-1 {
  flex: 1; /* Faz o conteúdo ocupar o espaço restante */
}

.overflow-y-auto {
  overflow-y: auto; /* Permite rolar o conteúdo se necessário */
}

.transition-all {
  transition: all 0.3s ease-in-out; /* Suaviza as mudanças no layout */
}

.bg-green-500 {
  background-color: #28a745;
  color: white;
  text-align: center;
  padding: 1rem;
}
