<div class="flex-grow flex h-full relative">
  <!-- Botão no canto superior direito -->
  <div class="absolute top-0 right-0 m-4">
    <a
      routerLink="/administrador/login"
      class="px-4 py-2 bg-green-600 text-white rounded-lg hover:bg-green-700"
    >
      Admin
    </a>
  </div>

  <!-- Botão no canto superior esquerdo -->
  <div class="absolute top-0 left-0 m-4">
    <a routerLink="/">
      <img
        src="assets/Nota_Social_fundo_transparente.png"
        alt="Home"
        class="w-16 h-16"
      />
    </a>
  </div>

  <!-- Lado esquerdo com logo e texto -->
  <div
    class="flex flex-col items-center justify-center w-full lg:w-1/2 bg-green-100 p-6"
  >
    <div class="mt-10">
      <img
        src="assets/Nota_Social_sem_fundo.png"
        alt="Logo Nota Social"
        class="w-96 h-auto md:w-60"
      />
    </div>
    <div class="text-center">
      <p class="text-lg text-gray-600">Compartilhe, compare, economize</p>
    </div>
  </div>

  <!-- Lado direito com o formulário de login -->
  <div
    class="w-full lg:w-1/2 bg-green-500 flex flex-col justify-center items-center p-8"
  >
    <h2 class="text-3xl font-bold text-white mb-4">Bem-vindo</h2>
    <p class="text-white mb-6">Faça o login em sua conta</p>

    <form class="w-full max-w-sm" (ngSubmit)="onLogin()">
      <!-- Campo de e-mail -->
      <div class="mb-4">
        <input
          type="email"
          [(ngModel)]="email"
          name="email"
          class="w-full px-4 py-2 text-green-900 bg-green-200 rounded-lg focus:outline-none focus:ring focus:border-green-300"
          placeholder="EMAIL"
        />
      </div>

      <!-- Campo de senha -->
      <div class="mb-6">
        <input
          type="password"
          [(ngModel)]="senha"
          name="senha"
          class="w-full px-4 py-2 text-green-900 bg-green-200 rounded-lg focus:outline-none focus:ring focus:border-green-300"
          placeholder="SENHA"
        />
      </div>

      <!-- Botão de Entrar -->
      <div class="mb-4">
        <button
          type="submit"
          class="w-full bg-white text-green-600 px-4 py-2 rounded-lg font-semibold hover:bg-green-100"
        >
          Entrar
        </button>
      </div>

      <!-- Link de registro -->
      <p class="text-center text-white">
        Não tem uma conta ainda?
        <a routerLink="/registrar" class="font-semibold text-white underline"
          >Registrar</a
        >
      </p>

      <!-- Link para abrir a modal de "Esqueci minha senha" -->
      <p class="text-center text-white">
        <button
          type="button"
          (click)="mostrarModalPassword = true"
          class="text-white underline"
        >
          Esqueci minha senha
        </button>
      </p>

      <!-- Link provisório para acessar o perfil de Estabelecimento" -->
      <p class="text-center text-white">
        <button
          type="button"
          (click)="acessarPerfilEstabelecimento()"
          class="text-white underline"
        >
          Acessar Perfil Estabelecimento
        </button>
      </p>

      <!-- Link para acessar o Login de Administrador" -->
      <p class="text-center text-white">
        <button
          type="button"
          (click)="logarAdmin()"
          class="text-white underline"
        >
          Logar como Administrador
        </button>
      </p>
    </form>
  </div>
</div>

<!-- Modal de Esqueci minha senha -->
<app-forgot-password-modal
  *ngIf="mostrarModalPassword"
  (close)="mostrarModalPassword = false"
></app-forgot-password-modal>

<!-- Modal de Aviso -->
<app-modal-aviso
  *ngIf="mostrarModal"
  [tipo]="tipoModal"
  [titulo]="tituloModal"
  [mensagem]="mensagemModal"
></app-modal-aviso>
