<header class="bg-gray-200 h-[25vh] w-full flex flex-col">
  <div class="flex-1 bg-gray-200 flex items-center overflow-hidden"> 
    <div class="flex items-center pl-4 ml-32">
      <img src="assets/Nota Social.jpg" alt="Nota Social" class="h-40 w-auto object-contain" />
    </div>
    <div class="ml-32 flex flex-col w-120 h-20">
      <span class="font-bold text-3xl">NOTA SOCIAL</span> 
      <span class="text-lg">Estabelecimentos:8</span> 
    </div>
  </div>
  <div class="h-1/3 bg-white flex justify-center items-center pb-4 border-b-2 border-gray-400">
    <nav class="flex justify-center items-center w-full space-x-8 ">
      <button
        (click)="goToPromocoes()"
        [class.border-b-2]="selectedOption === 'promocoes'"
        [class.border-green-600]="selectedOption === 'promocoes'"
        class="text-lg font-semibold text-gray-800 hover:text-green-600 transition-all"
      >
        Promoções
      </button>
      <button
        (click)="goToEnderecos()"
        [class.border-b-2]="selectedOption === 'enderecos'"
        [class.border-green-600]="selectedOption === 'enderecos'"
        class="text-lg font-semibold text-gray-800 hover:text-green-600 transition-all"
      >
        Endereços
      </button>
    </nav>
  </div>
</header>
<div class="h-[2.0vh] bg-gray-100"></div>
