<div class="bg-gray-100 min-h-screen">
  <app-header-estabelecimento></app-header-estabelecimento>
  <div class="p-4">
    <div class="flex justify-between items-center pr-4">
      <h1 class="text-2xl font-bold">Promoções</h1>
      <div class="flex items-center space-x-2">
        <button 
          class="bg-green-500 text-white p-2 w-8 h-8 rounded-lg hover:bg-green-600 transition-colors"
          (click)="cadastrarPromocao()">
          <svg 
            class="w-4 h-4 mx-auto" 
            xmlns="http://www.w3.org/2000/svg" 
            viewBox="0 0 24 24" 
            fill="none" 
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
          </svg>
        </button>
        <span class="text-lg font-semibold text-green-500">CADASTRAR PROMOÇÃO</span>
      </div>
    </div>

    <!-- Lista de promoções -->
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-16 mt-16">
  <app-card-promocao
    *ngFor="let promocao of promocoes"
    [promocao]="promocao"
    class="shadow-lg min-h-full"
  ></app-card-promocao>
</div>
  </div>
</div>
