<div class="grid grid-cols-3 gap-5 h-1/6 mt-4 bg-white border-b border-gray-400">

    <div class="flex items-center justify-start bg-white ">
        <div class="flex flex-col bg-white h-full rounded-l-lg -ml-1.5">
            <!-- Produto: ocupa 1/6 da altura -->
            <div class="h-1/4 w-full mt-1 ml-8">
              <span class="font-bold text-lg">Produto:</span>
            </div>

            <!-- Usuário: ocupa 1/6 da altura -->
            <div class="h-1/4 w-full mt-1 ml-8">
              <span class="font-bold text-lg">Usuário:</span>
            </div>
            
            <!-- Estrelas: ocupa 1/6 da altura -->
            <div class="h-1/4 w-full mb-1 mt-1 ml-8">
              <span class="font-bold text-lg">Estrelas:</span>
            </div>
          </div>          
    </div>
    

    <div class="flex flex-col items-start justify-start bg-white overflow-hidden">
        <div class="flex items-start justify-start bg-white h-1/5 mt-1">
            <span class="font-bold text-lg ">
              Avaliação
            </span>
          </div>
          <!-- Texto ofuscado ocupando 60% da página -->
        <div class="flex items-start justify-start bg-white w-full h-3/5 opacity-50 mt-2 overflow-hidden">
         <span class="text-sm truncate-text">
          Maximo 170 Caracteres...A tecnologia está evoluindo rapidamente, trazendo mudanças significativas para todos os aspectos de nossas vidas. Desde a automação no trabalho até a inteligência artificial, estamos apenas começando a explorar todo o seu potencial transformador e inovador.efddddddddddddd
    </span>
    </div>
    </div>

    
    <div class="flex flex-col items-center justify-start bg-white rounded-r-lg -mr-1.5">
    <!-- Botão Aprovar -->
    <button class="bg-green-600 text-white w-7/12 h-1/3 mb-1 mt-4 rounded-lg">
        Aprovar
      </button>
      <!-- Botão Rejeitar -->
      <button class="bg-red-600 text-white w-7/12 h-1/3 rounded-lg">
        Rejeitar
      </button>
    </div>
  </div>