<div
  class="max-w-xs bg-white rounded-lg shadow-md overflow-hidden"
  (click)="handleCardClick()"
>
  <ng-container *ngIf="produto.image; else semImagem">
    <img
      [src]="produto.image"
      alt="{{ produto.name }}"
      class="w-full h-48 object-contain"
    />
  </ng-container>
  <ng-template #semImagem>
    <div
      class="w-full h-48 bg-gray-200 flex items-center justify-center text-gray-500"
    >
      Sem imagem
    </div>
  </ng-template>

  <div class="p-4">
    <h2 class="text-lg font-semibold text-gray-800">{{ produto.name }}</h2>
    <p class="text-xl text-gray-700 font-bold">
      <ng-container *ngIf="produto.price !== null; else carregando">
        R${{ produto.price | number : "1.2-2" }}
      </ng-container>
      <ng-template #carregando>Preço não cadastrado</ng-template>
    </p>
    <div class="flex justify-between items-center mt-4">
      <button
        *ngIf="isCliente"
        (click)="adicionarAoCarrinho(produto)"
        class="flex items-center bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded focus:outline-none focus:ring-2 focus:ring-green-400 focus:ring-opacity-75"
      >
        Adicionar
      </button>
      <button
        *ngIf="isCliente"
        (click)="adicionarAosFavoritos(produto)"
        class="text-gray-400 hover:text-red-500 focus:outline-none focus:ring-2 focus:ring-red-300"
      >
        <svg
          class="w-6 h-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4.318 6.318a4.5 4.5 0 016.364 0L12 7.636l1.318-1.318a4.5 4.5 0 016.364 6.364L12 20.364l-7.682-7.682a4.5 4.5 0 010-6.364z"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</div>

<!-- Modal de Edição -->
<app-product-edit-modal
  *ngIf="isModalOpen"
  [produto]="produto"
  (onSave)="handleSave($event)"
  (onClose)="handleClose()"
></app-product-edit-modal>
